:root {
  --Ang-libro: 25deg;
}

.App {
  text-align: center;
}

.pagina {
  background-image: url(asstes/paginBg.png);
  background-size: 100% 100%;
  text-align: center;
  align-items: center;
}

.pagina-content {
  margin: 15% 15%;
  width: 70%;
  height: 80%;
  color: #86620f;
  text-rendering: optimizeLegibility;
}

.pagina-content p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 36px;
}

.pagina-content h3 {
  font-size: 42px;
}

.pagina-content h4 {
  font-size: 40px;
}

.location-modal-group {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
}

.modals {
  position: absolute;
  top: 5%;
  left: 20%;
  right: 20%;
  bottom: 5%;
  border: none;
  border-radius: 2%;
  padding: 0.5% 2% 0.5% 2%;
  font-size: 32px;
  text-align: center;
  background: linear-gradient(
    132deg,
    rgba(205, 150, 255, 0.8) 0%,
    rgba(254, 255, 162, 0.8) 50%,
    rgba(195, 255, 247, 0.8) 100%
  );
  z-index: 100;
}
.modalsOverlay {
  background-color: rgba(68, 68, 68, 0.7);
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modals h3 {
  margin-top: 1%;
  margin-bottom: 2%;
}
.modals h4 {
  margin-bottom: 2%;
  margin-top: 1%;
  font-size: 1.4em;
}
.modals p {
  margin-bottom: 1%;
}

.modals .picture {
  position: absolute;
  top: 10%;
  left: 0%;
  right: 0%;
  bottom: 55%;
}

.modals .descRep {
  position: absolute;
  top: 45%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}

.modals .picture h4 {
  position: absolute;
  bottom: 0.5%;
  right: 0%;
  width: 100%;
  color: white;
  background-color: rgba(65, 56, 48, 0.5);
  text-shadow: 2px 3px #bd8b17;
}

.modals-close-btn {
  position: absolute;
  right: 3%;
  top: 1%;
  font-size: 24px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 50%;
  border: 1px black groove;
}

.modals-close-btn:hover {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
}

.btn-modals {
  background-size: contain;
  border-radius: 15px;
  margin-bottom: 5%;
  max-width: 60%;
  max-height: 10%;
  font-size: 16px;
  padding: 5px;
  border: none;
}

.btn-modals:hover {
  background-color: #c0c0c0;
  color: #86620f;
  transform: scale(1.02);
}
.videoCamera {
  fill: white;
}
.clothes {
  fill: #bd8b17;
}
.bank {
  fill: white;
  outline-color: #2d8cff;
}
#zoom-btn {
  height: 20px;
  background-color: #2d8cff;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 2% /5%;
  box-shadow: black 2px 2px 5px;
  font-size: 25px;
  text-decoration: none;
  padding: 5px;
}

.Bnk-data-bg {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  border-radius: 15px;
  max-width: 45%;
  bottom: 2%;
  padding: 2%;
  text-overflow: ellipsis;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.bankDiv {
  display: flex;
  justify-content: space-around;
}

.libro {
  position: relative;
}

.portada {
  background-image: url(asstes/13.png);
  background-size: 100% 100%;
  width: 97%;
  height: 97%;
  margin: 0%;
  padding: 0%;
  justify-content: center;
  justify-items: center;
}

.logo-top {
  position: relative;
  width: 98%;
  top: 1%;
}
.logo-btm {
  position: relative;
  width: 98%;
  bottom: -25%;
}

.sideview {
  background-image: url(asstes/bookside.png);
  background-size: 100% 100%;
  margin: 0%;
  padding: 0%;
}

.logo {
  top: 20%;
  left: 7.5%;
  width: 85%;
  height: 50%;
  position: absolute;
  color: rgba(255, 255, 255, 0.842);
  font-size: 1.2em;
  text-align: center;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px #b28c33b6;
  text-rendering: optimizeLegibility;
}

.st1 {
  fill: rgba(230, 230, 230, 0.3);
}
.st0 {
  fill: #c0c0c0;
}

.burbuja {
  animation: bubleFloat 4s ease-in-out infinite;
  height: 85vh;
  width: 85vh;
  background: radial-gradient(
    circle at 70% 30%,
    rgba(233, 245, 255, 0.6) 5%,
    rgba(0, 255, 255, 0.3) 18%,
    rgba(0, 0, 139, 0.35) 60%,
    rgba(0, 255, 255, 0.3) 100%
  );
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.65),
    inset 10px 0 46px rgba(255, 210, 240, 0.315), inset 88px 0px 60px #c2d8fe96,
    inset -20px -60px 100px #fde9ea8c, inset 0 50px 140px #fde9eab9,
    0 0 90px rgba(255, 255, 255, 0.877);
  display: flex;
  place-items: center;
  position: absolute;
}

@keyframes bubleFloat {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-40px);
  }
  100% {
    transform: translatey(0px);
  }
}

.popped {
  animation: pop 700ms linear forwards;
  margin: 0%;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

@keyframes pop {
  0% {
    background: radial-gradient(
      circle at 70% 30%,
      rgba(233, 245, 255, 0.7) 5px,
      rgba(0, 255, 255, 0.3) 8%,
      rgba(0, 0, 139, 0.35) 60%,
      rgba(0, 255, 255, 0.3) 100%
    );
    border-radius: 50%;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.65),
      inset 10px 0 46px rgba(255, 210, 240, 0.315),
      inset 88px 0px 60px #c2d8fe96, inset -20px -60px 100px #fde9ea8c,
      inset 0 50px 140px #fde9eab9, 0 0 90px rgba(255, 255, 255, 0.877);
  }
  12.5% {
    background: radial-gradient(
      circle at 60% 40%,
      rgba(255, 255, 255, 0) 2%,
      rgba(0, 255, 255, 0.3) 18%,
      rgba(0, 0, 139, 0.35) 60%,
      rgba(0, 255, 255, 0.3) 100%
    );
    border-radius: 50%;
  }
  25% {
    background: radial-gradient(
      circle at 60% 40%,
      rgba(255, 255, 255, 0) 4%,
      rgba(0, 255, 255, 0.3) 22%,
      rgba(0, 0, 139, 0.35) 60%,
      rgba(0, 255, 255, 0.3) 100%
    );
    border-radius: 50%;
  }
  37.5% {
    background: radial-gradient(
      circle at 60% 40%,
      rgba(255, 255, 255, 0) 8%,
      rgba(0, 255, 255, 0.3) 30%,
      rgba(0, 0, 139, 0.35) 60%,
      rgba(0, 255, 255, 0.3) 100%
    );
    border-radius: 50%;
  }
  50% {
    background: radial-gradient(
      circle at 55% 45%,
      rgba(255, 255, 255, 0) 16%,
      rgba(0, 255, 255, 0.3) 35%,
      rgba(0, 0, 139, 0.35) 60%,
      rgba(0, 255, 255, 0.3) 100%
    );
    border-radius: 50%;
  }
  62.5% {
    background: radial-gradient(
      circle at 55% 45%,
      rgba(255, 255, 255, 0) 32%,
      rgba(0, 255, 255, 0.3) 50%,
      rgba(0, 0, 139, 0.35) 90%,
      rgba(0, 255, 255, 0.3) 100%
    );
    border-radius: 50%;
  }
  75% {
    background: radial-gradient(
      circle at 55% 45%,
      rgba(255, 255, 255, 0) 64%,
      rgba(0, 255, 255, 0.3) 85%,
      rgba(0, 0, 139, 0.35) 92%,
      rgba(0, 255, 255, 0.3) 100%
    );
    border-radius: 45%;
  }
  87.5% {
    background: radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0) 93%,
      rgba(0, 0, 139, 0.1) 97%,
      rgba(0, 255, 255, 0.1) 100%
    );
    border-radius: 0%;
  }
  100% {
    background: transparent;
  }
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  place-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0%;
}
.warning {
  height: 90vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 48px;
  backdrop-filter: blur(3px);
  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 5%;
  opacity: 0;
  z-index: -5;
}

@media (max-width: 844px) and (orientation: portrait) {
  .warning {
    opacity: 1;
  }
  .main {
    opacity: 0;
  }
}
@media (max-width: 844px) and (orientation: landscape) {
  .warning {
    opacity: 0;
  }
  .main {
    opacity: 1;
  }
  .bankDiv {
    display: block;
  }
  .Bnk-data-bg {
    max-width: 95%;
    font-size: 10px;
    border-radius: 0;
  }

  .modals{
    overflow-y: scroll;
    border-radius: 15px 15px 0 0 ;
    bottom: 0%;
    top: 5%;
    left: 2%;
    right: 2%;
  }
  .logo{
    font-size:12px ;
  }

  .pagina-content{
    margin: 7.5%;
    width: 80%;
    overflow-y: scroll;

  }
  .pagina-content p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 24px;
  }
  
  .pagina-content h3 {
    font-size: 32px;
  }
  
  .pagina-content h4 {
    font-size: 28px;
  }

}
